#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #8287e8aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-title {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@import "tailwindcss";

@theme inline {
  /* animation utilities here */
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-move: move 5s linear infinite;

  /* keyframes here */
  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
