.link {
  position: relative;
  color: rgb(229, 231, 235);
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem;        
  height: 0.125rem;          
  width: 100%;

  background: currentColor;  
  transform: scaleX(0);    
  transform-origin: left;    
  transition: transform 300ms; 
}

.link:hover::after {
  transform: scaleX(1);     
}

.navbar {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 2.5rem;             

  font-weight: 500;        
  font-size: 0.75rem;       

  border: 1px solid rgb(75, 85, 99); 
  border-radius: 9999px;    

  padding: 1rem 2.5rem;    

  transition: all 300ms ease-in-out; 
}

.navbar:hover {
  border-color: rgb(229, 231, 235);  
}

@media (min-width: 640px) {
  .navbar {
    font-size: 1.125rem; 
  }
}

@media (min-width: 1024px) {
  .navbar {
    border-color: rgb(30, 58, 138); 
  }
}
